.navbar-brand {
    margin-left: 20px;
    
}

section {
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background for about seection should be light-purple */
#about {
    background-color: #e6e6ff;
}

#mayuri { 
    min-height: 600px;
}


